html,
body {
  height: 100%;
}

p {
  padding: 0px;
  margin: 0px;
}

body {
  font-family: sans-serif;
  font-size: 16px;
  padding: 0;
  margin: 0;
}

footer {
  background: #2b3642;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  height: 50px;
  text-align: center;
  color: white;
  align-items: center;
  justify-content: center;
  display: flex;
}